<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Ticker Search</title>
  <link rel="stylesheet" href="css/etastyles.css">
</head>
<body>
<div class="container">
  <h1>Stock Ticker Search</h1>
  <input type="text" id="tickerInput" placeholder="Enter stock ticker" required>
  <br>
  <button id="searchButton">Get Details</button>
  <button id="priceButton">Charts</button>
  <button id="predictButton">Predict Future Price</button>

  <!-- New inputs for prediction -->
  <div id="predictionOptions">
    <h2>Prediction Options</h2>
    <label>
      <input type="checkbox" id="useSMA">
      Use SMA Calculation
    </label>
    <br>
    <label>
      <input type="checkbox" id="useVolatility">
      Use Volatility
    </label>
    <br>
    <label>
      Data for how many days in past:
      <input type="number" id="daysInput" min="1" placeholder="e.g., 90">
    </label>
    <br>
    <button id="submitPrediction">Calculate Future Price</button>
  </div>

  <div id="result" class="result"></div>
</div>

<script src="js/stocktrend.js"></script>
</body>
</html>
