<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Ticker Search</title>
  <link rel="stylesheet" href="css/etastyles.css">
</head>
<body>
<div class="container">
  <h1>Stock Ticker Search</h1>
  <input type="text" id="tickerInput" placeholder="Enter stock ticker" required>
  <br>
  <button id="searchButton">Get Details</button>
  <button id="priceButton">Get EOD Prices</button>
  <div id="result" class="result"></div>
</div>

<script src="js/stocktrend.js"></script>
</body>
</html>